<div class="content-detallesEjercicio" >
    <div class="icon-volver" [routerLink]="['/ejercicios']">
        <i class="fas fa-chevron-left"></i>
    </div>
    <div class="detallesEjercicio" *ngIf = 'item'>

        <div class="detallesEjercicio-img">
            <img src="{{item.img}}" alt="">
        </div>

        <div class="detallesEjercicio-info">
            <h2>{{item.title}}</h2>
            <p>{{item.descripcion}}</p>
        </div>

    </div>
    <div class="btn btn-practicar" [routerLink]="['/videos']">
        <p>Videos</p>
    </div>
</div>