<div class="content-videos">

    <div class="videos" *ngIf = 'videos'>
        <div class="videos-title">
            <h2>Videos para Empezar en la Meditación</h2>
        </div>
        <div class="videos-tutoriales">
            <a target="_blank" href="{{video.link}}"  *ngFor = "let video of videos">
                <span>{{video.title}}</span>
            </a>
        </div>
        
    </div>
    <div class="btn btn-practicar" [routerLink]="['/productos']">
        <p>Productos de Amazon</p>
    </div>
    <div class="btn btn-practicar" [routerLink]="['/ejercicios']">
        <p>Volver</p>
    </div>

</div>