<div class="content-centros">
    <div class="centros">
        <h2>Centros para Practicar la Meditación en Paraguay</h2>
        <div class="centros-webs">
            <div class="web">
                <a  href="https://meditacionparaguay.org/"><span> Meditacion Asunción</span></a>
            </div>
            <div class="web">
                <a href="http://www.brahmakumaris.org.py/"><span>Brahma Kumaris Paraguay</span></a>
            </div>
            <div class="web">
                <a href="https://www.artofliving.org/py-es"><span>Fundacion el Arte de vivir</span></a>
            </div>
        </div>
    </div>
</div>