<nav [ngClass]="{'showMenu': status == true}">
  <div class="logo">
      <h1>MEDITAPY</h1>
  </div>
  <div class="menu" (click)="iconBtn()">
      <ul>
          <li [routerLink]="['/menu']" [routerLinkActive]="['active']">menu</li>
          <li [routerLink]="['/ejercicios']" [routerLinkActive]="['active']">ejercicios</li>
          <li [routerLink]="['/videos']" [routerLinkActive]="['active']">videos</li>
          <li [routerLink]="['/productos']" [routerLinkActive]="['active']">productos</li>
          <li [routerLink]="['/centros']" [routerLinkActive]="['active']">centros</li>
      </ul>
  </div>
</nav>
<div class="icon" (click)="iconBtn()">
  <div class="a" [ngClass]="{'aa': status == true}"></div>
  <div class="b" [ngClass]="{'ab': status == true}"></div>
  <div class="c" [ngClass]="{'ac': status == true}"></div>
</div>


<div class="content-principal">
  <router-outlet></router-outlet>
</div>

<footer>

</footer>